.questions{
    margin-top: 50px;
}
.submitbutton{
    margin-top: 90px;
    margin-left: 50%;
}
.footer{
    margin-top: 80px;
    padding: 80px;
    background-color: orange;
}
.copyrights{
    margin-left: 45%;
   color: white;
}
.h1{
    margin-top: -250px;
}
.button12{
    margin-top: 150px;
    text-align: center;
}
@media (max-width: 1028px) {

    .copyrights{
        margin-left: 10%;
        text-align: center;
    }
}
